SERVER_PORT=3001                        # the port that the server will run on
HOST=0.0.0.0                            # the host (ip) that the serer will run on
MONGO_CONN_STR=YOUR_MONGO_CONN_STR      # the connection string to the mongo db
JWT_SECRET=YOUR_JWT_SECRET              # the secret used to sign the jwt tokens
SMTP_KEY=MAILJET_API_KEY
SMTP_SECRET=MAILJET_SECRET_KEY
EMAIL=MAILHET_EMAIL

# Cloudinary
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET

# Redis
REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT
REDIS_PASSWORD=YOUR_REDIS_PASSWORD # opcional
REDIS_USER=default # opcional

# AI
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Basic Auth Credentials
AUTH_USERNAME=YOUR_USERNAME
AUTH_PASSWORD=YOUR_PASSWORD
